/* Hide all content so that it is not shown when JavaScript is disabled.
Then use JavaScript to show it.*/
[data-role="page"]
{
    display: none;
}

#bullet-search .ui-content{
    padding: 0 !important;
    top: 94px !important;
}

#legend{
    float: right;
    width: 150px;
    padding-left: 10px;
}

#bullet-search {
    padding: 0;
}

#input-columns {
    width: 100%;
    border-spacing: 0;
}

#input-columns .first-column {
    width: 33.4%;
    padding: 10px;
    vertical-align: top;
}

#input-columns .second-column {
    padding: 0;
}

#small-map{
    margin: 0;
    border: 1px solid #aaa;
    height: 500px;
}

#bullet-map .ui-content{
    padding: 0;
}

#map{
    margin-right: 150px;
    height: 500px;
}

.maps:after {
    content: '';
    position: absolute;
    box-shadow: inset 0 0 5px #666;
    width:100%;
    height:100%;
    display:block;
    opacity: 0.7;
}

.ui-content {
    top: 103px;
    right: 0;
    left: 0;;
}

#error-message {
    border-color: #7E0000;
    background-color: darkred;
    color: #E8E8E8;
    text-shadow: none;
}

input.error {
    border: 1px solid #C00;
}

label {
    margin-top: 20px;
}

#upload {
    margin-top: 60px;
}

.headline-background {
    background: #FE0 url(../images/amnesty_logo.jpg) no-repeat;
    background-size: contain;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid #ddd;
    font-size: 8px;
    color: #222;
    text-shadow: 0 0;
}

.headline-background h1{
    margin: 0;
}

#blazer{
    border-radius: 50px;
}