#bullet-map .ui-content{
    /*color: #224;
    background-color: #eeeeff;*/
}

#legend{
    float: right;
    width: 150px;
    padding-left: 10px;
}

#location {
    width: 100%;
}

#location td{
    vertical-align: top;
    width: 50%;
}

#small-map{
    height: 200px;
    width: 300px;
    border: 1px solid grey;
}

#map{
    background-color: #fff;
    margin-right: 150px;
    width: auto;
    height: 400px;
    overflow: hidden;
    border: 1px solid grey;
}

.ui-content {
    position: absolute;
    top: 103px;
    right: 0;
    height: 100%;
    left: 0;;
}



