/* Hide all content so that it is not shown when JavaScript is disabled.
Then use JavaScript to show it.*/
[data-role="page"]
{
    display: none;
}

#bullet-map .ui-content{
    /*color: #224;
    background-color: #eeeeff;*/
}

#legend{
    float: right;
    width: 150px;
    padding-left: 10px;
}

#location {
    width: 100%;
    margin-bottom: 10px;
}

#location td{
    vertical-align: top;
    width: 50%;
}

#small-map{
    height: 250px;
    width: 350px;
    border: 1px solid grey;
}

#map{
    background-color: #fff;
    margin-right: 150px;
    width: auto;
    height: 400px;
    overflow: hidden;
    border: 1px solid grey;
}

.ui-content {
    position: absolute;
    top: 103px;
    right: 0;
    height: 100%;
    left: 0;;
}

#error-message {
    border-color: #7E0000;
    background-color: darkred;
    color: #E8E8E8;
    text-shadow: none;
}

input.error {
    border: 1px solid #C00;
}

label {
    margin-top: 20px;
}

#upload {
    margin-top: 60px;
}

