#page-home #callout-background{
    background-size: 100% !important;
}

#page-home #callout{
    padding-top: 30%;
}

#page-home #callout h2{
    font-size: 55px;
}

#page-home #callout h3{
    font-size: 45px;
}

#small-map{
    height: 550px;
}

#page-post .ui-content{
    margin: 0 25%;
}

#page-search .ui-content{
    margin: 0 25%;
}
