#page-home #callout-background{
    background-size: 100% !important;
}

#page-home #callout{
    padding-top: 30%;
}

#page-home #callout h1{
    font-size: 60px;
}

#page-home #callout h2{
    font-size: 50px;
}