#page-home #callout h2{
    font-size: 44px;
}

#page-home #callout h3{
    font-size: 35px;
}

#home-carat{
    width: 22px;
}

#small-map{
    height: 400px;
    margin-left: 0;
    margin-right: 0;
}

#page-post .ui-content{
    margin: 0 12.5%;
    padding: 10px 0;
}

#page-search .ui-content{
    margin: 0 12.5%;
}

#page-map #map{
    height: 500px;
}